<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>UclFy</title>
</head>
    <body>
        <div class="container-fluid">
            <div class="row" style="background-color:black">
                <div class="col-md-1" ></div>
                <div class="col-md-7">
                   <h1 style="color:white">Ucl<span style="color:green">Fy</span></h1>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            

            <div class="row">
                <h4>Bem vindos ao UclFy seu site de informações de musica, escolha uma banda e faça sua pesquisa.</h4>
            </div>
            <div class="row">
               
                <form action="/infoBanda" class="" method="get">
                    <div class="form-group row alinharCentro alinharV">
                        <label for="pesq" class="col-sm-1 col-form-label col-form-label-lg">Pesquisar</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-lg" name="pesq" id="pesq" placeholder="Banda / Artista">
                        </div>
                    </div>
                </form>
               
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>